<br><br>
<form action="create_db" method="post">
Enter the database name that has to be created: <input type="text" name="database">
<input type="submit" value="submit">
</form><br><br>
<a href="/show_database">Click here to see the databases present</a>

