<br><br>
<form action="drop_tb" method="post">
Enter the database name that has to be dropped: <input type="text" name="drop">
<input type="submit" value="submit">
</form><br><br>
<a href="/show_database">Click here to see the databases present</a>
