<% @i=0 %>

<% @m.each do |m| %>
   <form action='/query_s' >
   	        	      <% @i= @i+1 %>
   <%=m.values.first %><input type ="text" name ="a<%=@i %>"><br/>
                
          <% end %>
              <input type="submit" value="submit">
      </form>

    <br/>
