<br>

<br>
<form action="/insert_values" method="post">
Insert the values into the table <%=@f %>: <input type="text" name="ins">
<input type="submit" value="submit">
</form><br><br>
<a href="/show_database">Click here to see the databases present</a>