<h1>Tables in <%=$d %> database </h1>
<ol>
<% @res.each do |m| %>
<li><a href = "/action2?tb_name=<%=m.values.first %>"><%=m.values.first %></li><br>
<% end %>
</ol>
<br>
<br>
<ul>
<li><a href = "/create_tb" >click here to create a table</a></li><br>
<li><a href="/drop_tb">click here to drop the table</a></li><br>
<li><a href = "/show_database" >click here to go back to previous page</a></li>
</ul>